/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


*/


require reset
require style
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body
{
	line-height: 1;
}

a { text-decoration: none; }

ol, ul
{
	list-style: none;
}

blockquote, q
{
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after
{
	content: '';
	content: none;
}

:focus
{
	outline: 0;
}

ins
{
	text-decoration: none;
}

del
{
	text-decoration: line-through;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

/* Clear Fix Styles */

.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
.clear { clear: both; }

/* HTML 5 */

section, article, aside, header, footer, nav, dialog, figure
{
	display: block;
}
html, body
{
	background: #111;
	font-family: Helvetica, Arial, sans-serif;
	color: #888;
	padding: 20px;
	font-size: 14px;
}

a { color: #9C0; }
a:hover { color: #FFF; }
p { margin: 0 0 15px 0; }

a img.imgright { float: right; padding: 5px; margin: 0 0 10px 15px; border: 1px solid #333; }
a:hover img.imgright { border: 5px solid #9C0; padding: 1px; margin: 0 0 10px 15px; }

h1, h2, h3, h4, h5 { font-weight: bold; font-size: 24px; margin: 0 0 15px 0; color: #FFF; text-shadow: 2px 2px 2px #000000; }

/* Start Wrapper Container */

#page_container
{
	width: 940px;
	margin: 0 auto;
}

/* End Wrapper Container */

/* Start Nav Styles */

nav
{
	width: 940px;
	height: 40px;
}

nav.menu ul
{
	float: right;
}

nav.menu ul li
{
	display: inline;
}

nav.menu ul li a
{
	float: left;
	line-height: 40px;
	padding: 0 20px;
	background: #111;
	color: #FFF;
	font-weight: bold;
}

nav.menu ul li.selected a
{
	background: #191919;
	color: #FFF;
}

nav.menu ul li a:hover
{
	
	color: #9C0;
}

/* Start Header Styles */

header#inner_header
{
	width: 900px;
	height: 120px;
	padding: 0 20px;
	background: #191919;
}

header#inner_header h1
{
	font-size: 42px;
	line-height: 120px;
	text-align: right;
	font-weight: bold;
	letter-spacing: -2px;
	
	text-shadow: 2px 2px 2px #000000;
}

header#inner_header h1 a
{
	color: #FFF;
}

header#inner_header h1 a:hover
{
	color: #9C0;
}

/* End Header Styles */

/* Start Main Styles */

section#body_content
{
	width: 940px;
	line-height: 24px;
}

section#body_content_left
{
	float: left;
	width: 560px;
	padding: 20px;
}

section#body_content_right
{
	float: left;
	width: 300px;
	padding: 20px;
}

section#body_content_right ul
{
	margin: 0 0 15px 0;
}

section#body_content_right ul li
{
	display: block;
}

section#body_content_right ul li a
{
	float: left;
	width: 280px;
	padding: 6px 10px;
	border-left: 3px solid #222;
	margin: 0 0 5px 0;
	line-height: 20px;
}

section#body_content_right ul li a:hover
{
	background: #9C0;
	border-left: 3px solid #9C0;
	color: #111;
}

/* End Main Styles */

/* Start Footer Styles */

footer
{
	clear: both;
	width: 900px;
	padding: 20px;
	line-height: 22px;
	font-size: 12px;
	text-align: left;
	border-top: 1px dotted #333;
}

/* End Footer Styles */

/* Start Template Copyright Styles */

section#templatecopy
{
	clear: both;
	width: 900px;
	padding: 20px;
	line-height: 22px;
	text-align: right;
	font-size: 12px;
	border-top: 1px dotted #333;
}

section#templatecopy a
{
	font-weight: bold;
}

/* End Footer Styles */
