<section id="templatecopy">
	<p>Template design by <a title="derby web design" href="http://www.tristarwebdesign.co.uk">tristar web design</a></p>
	<p>RefineryCMS design adaptation and content by <a href="http://www.github.com/jcwilk">John</a></p>
</section>